.task-container.new-task{onclick: 'showForm();'}
  %span#create-task-text
    + Create task
  = form_with model: @task, class: 'task-form hidden', id: 'task-form' do |f|
    = f.text_field :title, placeholder: 'Enter task title', onfocus: 'highlightInput()'
    = f.date_field :due_date, class: 'task-due-date'
    %div.action-buttons.hidden
      %button.check{type: 'button', onclick: 'this.form.submit();'} ✓
      %button.cancel{type: 'button', onclick: 'clearInput()'} ✗

:javascript
  function showForm() {
    document.getElementById('task-form').classList.remove('hidden');
    document.getElementById('create-task-text').classList.add('hidden');
  }

  function highlightInput() {
    document.getElementById('task-form').classList.add('show-buttons');
  }

  function clearInput() {
    document.getElementById('task-form').classList.add('hidden');
    document.getElementById('task-form').classList.remove('show-buttons');
  }