%p{style: "color: green"}
  = notice

#tasks-container
  #tasks
    - @tasks.each do |task|
      = render task
  = render 'new'
  .modal
    .modal-dialog
      .modal-content
        Bootstrap button